/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext"); */
body {
   color: black;
   background-color: #f9ea9a;
   margin: 0;
   padding: 0;
}
.App {
   text-align: center;
   background-color: #282c34;
   color: white;
   font-family: "Permanent Marker", cursive;
}
.App-logo {
   height: 60vmin;
   position: absolute;
   top: 0;
   cursor:pointer;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 33s linear;
   }
}

.Logo {
   
   background-color: #282c34;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
   cursor: pointer;
}

.App-link {
   color: #f98948;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
.hoverAnimation {
   @apply h-[52px] w-[52px] cursor-pointer rounded-lg transition duration-300 ease-out hover:rounded-lg hover:bg-[#9575cd] xl:h-auto xl:w-auto xl:py-4 xl:px-4 ;
 }
